.resourceHeader {
    border-right: none !important;
}

.tableHeader {
    padding-left: 0px !important;
}

.cellStructure {
    min-width: 140px;
    height: 80px;    
}

.orderCellStructure {
    min-width: 168px;
    height: 60px;
}

.draggableRow {
    cursor: pointer;
}

.inDrag {
    border: none;
    display: block;
    margin: 0 auto;
}

.inDrag .orderCellStructure:not(:first-child) {
    display: none;
}

.inDrag .orderCellStructure:first-child {
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#e0e0e0;
}

.inDrag .orderCellStructure:first-child a.orderLink {
    color: #000;
    margin: 0 auto;
}

.dataCell:not(:last-child) {
    border-right: 2px solid #e5e5e5;
}

a.orderLink {
    text-decoration: none;
}

.popOver {
    width: 260px;
    min-height: 100px;
    height: 100%;
}

.statusButton.MuiButtonBase-root {
    vertical-align: top;
    margin: 20px 0 0 0;
}

.greenStatus.MuiButton-contained {
    background-color: green;
    color: #fff;
}

.redStatus.MuiButton-contained {
    background-color: red;
    color: #fff;
}