.resourceHeader {
    border-right: none !important;
}

.tableHeader {
    padding-left: 0px !important;
}

.cellStructure {
    min-width: 140px;
    height: 80px;    
}

.orderCellStructure {
    min-width: 160px;
    height: 60px;
}

.draggableRow {
    cursor: pointer;
}

.dataCell {
    border-right: 2px solid #e5e5e5;
}

a.orderLink {
    text-decoration: none;
}